html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;

  color: #fff;
  background-color: #020202 !important;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Marcellus;
  color: #fff !important;
}

p {
  word-break: break-word;
  hyphens: auto;
  color: #fff !important;
}

.ovhidden {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel-caption h3 {
  animation: slideInLeft 1s ease-in-out;
}

.carousel-caption p {
  animation: slideInRight 1s ease-in-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
img {
  width: 100%;
}
.slider img {
  width: auto;
  height: 600px;
}
.bg-slider {
  background-color: #020202;
}
.slider-intro {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
